* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}


.max-content {
    width: 82%;
    max-width: 1170px;
    margin: 0 auto;
}

.common-color {
    color: #FF5400;
}

.mb-icon {
    display: none;
}

.btn-common {
    width: 20%;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    padding: 0.8rem;
    font-weight: 500;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}

p, li {
    color: rgba(10, 10, 10, 0.984);
    line-height: 26px;
    /* 162.5% */
}

.banner-description{
    color: white;
}

/* nav */



.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-text-container h6 {
    font-size: 20px;
    font-weight: 700;
}


.nav-anchor {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-anchor a {
    text-decoration: none;
    font-weight: 600;
}

.nav-anchor a:hover {
    color: #FF5400;
}




/* banner */

.banner {
    background-image: url('../Images/Group-3\ .png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;

    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 50px auto;
    border-radius: 10px;
    color: wheat;
}


.banner-content {

    width: 50%;
    text-align: center;
    padding: 12% 0px 0px 0px;
    margin: 0 auto;

}

.banner-content .banner-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.banner-button-container {
    background-color: #ffffff67;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.banner-button-container button {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.banner-button-container button:hover {
    background-color: #FF5400;
    color: white;
}


/* popular-tours-container */

.popular-tours-container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 50px;
}

.popular-tours-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* common-container */

.common-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}


/* gride-img-container */

.gride-img-container{
        
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
      gap: 0.5rem;
}

.common-bg{
    position: absolute;
    top: 35%;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    color: white;
}



.img-1{
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    position: relative;
}
.text-bg-1{
    left: 35%;
}
.img-2{
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    position: relative;
}

.text-bg-2{
    left: 35%;
}

.img-3{
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
}

.text-bg-3{
    left: 25%;
}

.img-4{
    grid-column: 5 / span 7;
    grid-row: 2 / span 1;
    position: relative;
}

.text-bg-4{
    left: 15%;
}

.img-5{
    grid-column: 10 / span 2;
    grid-row: 2 / span 1;
    position: relative;
}


.text-bg-5{
    top: 35%;
    left: 20%;
}



.img-6{
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    position: relative;
}

.text-bg-6{
    left: 25%;
}


.img-7{
    grid-column: 6 / span 6;
    grid-row: 3 / span 1;
    position: relative;
}

.text-bg-7{
    left: 35%;
}

