* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}


.max-content {
    width: 82%;
    max-width: 1170px;
    margin: 0 auto;
}

.common-color {
    color: #FF5400;
}

.mb-icon {
    display: none;
}

.btn-common {
    width: 20%;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    padding: 0.8rem;
    font-weight: 500;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

p, li {
    color: #5A5A5D;
    line-height: 26px;
    /* 162.5% */
}

/* nav */



.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-text-container h6 {
    font-size: 20px;
    font-weight: 700;
}


.nav-anchor {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-anchor a {
    text-decoration: none;
    font-weight: 600;
}

.nav-anchor a:hover {
    color: #FF5400;
}


/* banner */

.banner {
    background-image: url('../Images/Group-3\ .png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;

    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 50px auto;
    border-radius: 10px;
    color: wheat;
}


.banner-content {

    width: 50%;
    text-align: center;
    padding: 12% 0px 0px 0px;
    margin: 0 auto;

}

.banner-content .banner-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.banner-button-container {
    background-color: #ffffff67;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.banner-button-container button {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.banner-button-container button:hover {
    background-color: #FF5400;
    color: white;
}


/* popular-tours-container */

.popular-tours-container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 50px;
}

.popular-tours-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}