* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}


.max-content {
    width: 82%;
    max-width: 1170px;
    margin: 0 auto;
}

.common-color {
    color: #FF5400;
}

.mb-icon {
    display: none;
}

.btn-common {
    width: 20%;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    padding: 0.8rem;
    font-weight: 500;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}

p,
li {
    color: rgba(10, 10, 10, 0.984);
    line-height: 26px;
    /* 162.5% */
}

.banner-description {
    color: white;
}

/* nav */



.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-text-container h6 {
    font-size: 20px;
    font-weight: 700;
}


.nav-anchor {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-anchor a {
    text-decoration: none;
    font-weight: 600;
}

.nav-anchor a:hover {
    color: #FF5400;
}




/* banner */

.banner {
    background-image: url('../Images/Group-3\ .png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;

    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 50px auto;
    border-radius: 10px;
    color: wheat;
}


.banner-content {

    width: 50%;
    text-align: center;
    padding: 12% 0px 0px 0px;
    margin: 0 auto;

}

.banner-content .banner-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.banner-button-container {
    background-color: #ffffff67;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.banner-button-container button {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.banner-button-container button:hover {
    background-color: #FF5400;
    color: white;
}


/* popular-tours-container */

.popular-tours-container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 50px;
}

.popular-tours-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* common-container */

.common-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 40px auto;
}


/* gride-img-container */

.gride-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 10px;
}

.common-bg {
    position: absolute;
    top: 35%;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    color: white;
}



.img-1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    position: relative;
}

.text-bg-1 {
    left: 35%;
}

.img-2 {
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    position: relative;
}

.text-bg-2 {
    left: 35%;
}

.img-3 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
}

.text-bg-3 {
    left: 25%;
}

.img-4 {
    grid-column: 5 / span 7;
    grid-row: 2 / span 1;
    position: relative;
}

.text-bg-4 {
    left: 15%;
}

.img-5 {
    grid-column: 10 / span 2;
    grid-row: 2 / span 1;
    position: relative;
}


.text-bg-5 {
    top: 35%;
    left: 20%;
}



.img-6 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    position: relative;
}

.text-bg-6 {
    left: 25%;
}


.img-7 {
    grid-column: 6 / span 6;
    grid-row: 3 / span 1;
    position: relative;
}

.text-bg-7 {
    left: 35%;
}

/* Why Choose Us */

.two-colum-grid{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 20px;
}

.gride-card h5{
    font-size: 20px;
}

.left-div{
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(251, 181, 99, 0.05)
    0px 30px 60px -12px inset, rgba(221, 161, 93, 0.715)0px 18px 36px -18px inset;
}

.right-div{
    width: 50%; 
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(165, 214, 226, 0.573) 0px 30px 60px -12px inset, rgba(41, 206, 246, 0.05) 0px 18px 36px -18px inset;
}

.extra-dive .fa-solid, .two-colum-grid .fa-solid{
    font-size: 25px;
}

.extra-dive{
    margin: 0 auto;
}

.mobile-padding{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Deals & Discounts */

.background-img-cards-1{
    background-image: url('../Images/Group-39.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 3rem auto;

}



.background-img-card-1-content{
    background-color: #eee9e9a2;
    width: 60%;
    height: 50%;
    margin-left: 50px;
    padding: 20px 0px 0px  30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

.location-time-content{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    gap: 10%;
}

.time, .group, .location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.price-text{
    font-weight: 600;
    font-size: 1.2rem;
}




.background-img-cards-2{
    background-image: url('../Images/Group-40.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 3rem auto;

}


.background-img-card-2-content{
    background-color: #eee9e9a2;
    width: 60%;
    height: 50%;
    margin-right: 50px;
    padding: 20px 0px 0px  30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

/* Simple Perfect  */

.see-all-btn{
    margin-left: 45%;
 }

.simple-perfect{
    display: flex;
    gap: 50px;
}



video{
    width: 600px;
    height: 500px;
}

.simple-text{
   display: flex;
   gap: 5px;
   height: 400px;
   margin-top: 70px;
}


/* newsletter */

.newsletter{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 100px;

}

.newsletter-right-div{
    height: 440px;      
}

.newsletter-left-div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 440px;
    gap: 1.8rem;
    padding-bottom: 0px;
    border: 1px solid #FF5400;
    border-radius: 10px;
}


.discount-container{
    position: relative;
    top: -120px;
    left: 460px;
    background-color: #ff5500cc;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 25%;
    text-align: center;
    transform: rotate(-30deg);

}

.new-h4{
    font-size: 1.5rem;
    font-weight: 500;
}


.form-new{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email, .password{
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgba(19, 19, 24, 0.05);
}

.sub-bth{
    width: 100%;
}


/* extra section */


/* blog related style */

.blog-title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 40px auto 15px auto;
}

.blog-description{
    font-size: 22px;
    text-align: center;
}

/* card related style */

.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}



.card{
    width: 350px;
    height: 450px;
    box-shadow: 4px 4px 8px gray;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3rem;
   
}


.card img{
    width: 80%;
    height: 50%;
    object-fit: cover;
    padding: 1.5rem;
}

.card-title{
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}


/* footer */

footer{
    background: rgba(19, 19, 24, 0.05);
}

.footer{
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.footer-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

}